<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.commonlib">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <application android:name=".MyApp">
        <activity
            android:name=".commonactivity.BrowserActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".commonactivity.ShopServiceConversationActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".commonactivity.GoodsPaymentActivity" />
        <activity android:name=".commonactivity.UserReceivingAddressActivity" />
        <activity android:name=".commonactivity.AddressOfNewReceiptActivity" />
        <activity android:name=".commonactivity.PaymentStatusActivity" />
        <activity android:name=".commonactivity.GoodsCommentActivity"></activity>
    </application>

</manifest>