<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.commonlib">

    <application android:name=".MyApp">
        <activity
            android:name=".commonactivity.BrowserActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".commonactivity.ShopServiceConversationActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".commonactivity.GoodsPaymentActivity" />
        <activity android:name=".commonactivity.UserReceivingAddressActivity" />
        <activity android:name=".commonactivity.AddressOfNewReceiptActivity"></activity>
    </application>

</manifest>