<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xuyijie.user">

    <application>
        <activity android:name="com.example.commonlib.commonactivity.AddressEditorActivity"></activity>
        <activity android:name="com.example.user.view.UserCouponActivity" />
        <activity android:name="com.example.user.view.UserFormStatusActivity" />
        <activity android:name="com.example.user.view.SubmitGoodsCommentActivity" />
        <activity android:name="com.example.user.view.UserAllOrdersActivity" />
        <activity android:name="com.example.user.view.UserFeedBackActivity" />
        <activity android:name="com.example.user.view.UserCollectionActivity" />
        <activity android:name="com.example.user.view.UserSettingActivity" />
        <activity android:name="com.example.user.view.ToBeEvaluatedActivity" />
    </application>

</manifest>