<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xuyijie.home">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>
        <activity android:name="com.example.home.view.GoodsOrderShareActivity" />
        <activity android:name="com.example.home.view.GoodsKindSortedActivity" />
        <activity android:name="com.example.home.view.TimeFlashSaleActivity" />
        <activity android:name="com.example.home.view.NewUpperShelfActivity" />
        <activity android:name="com.example.home.view.SecondHandTradingMarketActivity" />
        <activity
            android:name="com.example.home.view.AddSecondHandTradingActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name="com.example.home.view.SecondHandsKindActivity" />
        <activity android:name="com.example.home.view.SecondGoodsDetailActivity"></activity>
    </application>

</manifest>