<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.module_login">

    <application android:name="com.example.commonlib.MyApp">
        <activity android:name=".view.LoginActivity" />
        <activity android:name=".view.RegisterActivity" />
        <activity android:name=".view.TelPhoneRegisterActivity" />
        <activity android:name=".view.TelPhoneRegisterVerifyActivity"></activity>
    </application>

</manifest>